In [ ]:
library(readr)
library(dplyr)
library(lubridate)

In [5]:
df <- read_csv("/content/sim_salvador_2023_processado.csv")
head(df)

Rows: 261 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): DTOBITO, CAUSABAS, sexo_p, sexo_2, idade
dbl  (8): CODMUNRES, IDADE, SEXO, RACACOR, TIPOBITO, ano_obito, tipo_idade, ...
date (1): DTOBITO_dt

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  CODMUNRES DTOBITO  IDADE SEXO RACACOR CAUSABAS TIPOBITO sexo_p    sexo_2
1 292720    02012023 457   2    4       J980     2        Feminino  Feminino
2 292720    05012023 482   2    2       I500     2        Feminino  Feminino
3 292720    07012023 452   2    4       C220     2        Feminino  Feminino
4 292720    08012023 456   2    4       W789     2        Feminino  Feminino
5 292720    10012023 468   1    4       X954     2        Masculino Masculino
6 292720    10012023 439   1    4       I461     2        Masculino Masculino
  DTOBITO_dt ano_obito tipo_idade idade idade_anos
1 2023-01-02 2023      4          57    57
2 2023-01-05 2023      4          82    82
3 2023-01-07 2023      4          52    52
4 2023-01-08 2023      4          56    56
5 2023-01-10 2023      4          68    68
6 2023-01-10 2023      4          39    39

# **Atividade 1: Exploração e transformação de dados usando	o	dataframe	df_csv	que	criamos	na	aula,	realize	as	seguintes	tarefas:**


**1.1**)	Crie	uma	nova	variável	chamada	"faixa_etaria"	que	classifique	as	idades	em	quatro	categorias:
"criança"	para	idades	de	0	a	12	anos,	"adolescente"	para	13	a	17	anos,	"adulto"	para	18	a	59	anos	e	"idoso"	para	60	anos	ou	mais.



**1.2**)	Conte	quantos	óbitos	há	em	cada	faixa	etária	criada.	Dica:	você	pode	usar	a	função	count()	ou
combinar	group_by()	com	summarise().

In [11]:
df <- df %>%
  mutate(
    faixa_etaria = case_when(
      idade >= 0 & idade <= 12 ~ "criança",
      idade >= 13 & idade <= 17 ~ "adolescente",
      idade >= 18 & idade <= 59 ~ "adulto",
      idade >= 60 ~ "Idoso",
      TRUE ~ NA_character_   # caso exista alguma idade fora do esperado
    )
  )
head(df)

  CODMUNRES DTOBITO  IDADE SEXO RACACOR CAUSABAS TIPOBITO sexo_p    sexo_2
1 292720    02012023 457   2    4       J980     2        Feminino  Feminino
2 292720    05012023 482   2    2       I500     2        Feminino  Feminino
3 292720    07012023 452   2    4       C220     2        Feminino  Feminino
4 292720    08012023 456   2    4       W789     2        Feminino  Feminino
5 292720    10012023 468   1    4       X954     2        Masculino Masculino
6 292720    10012023 439   1    4       I461     2        Masculino Masculino
  DTOBITO_dt ano_obito tipo_idade idade idade_anos faixa_etaria
1 2023-01-02 2023      4          57    57         adulto
2 2023-01-05 2023      4          82    82         Idoso
3 2023-01-07 2023      4          52    52         adulto
4 2023-01-08 2023      4          56    56         adulto
5 2023-01-10 2023      4          68    68         Idoso
6 2023-01-10 2023      4          39    39         adulto

In [15]:
# dois comandos de contagenm por categoria
df %>%
  count(faixa_etaria)

df %>%
  group_by(faixa_etaria) %>%
  summarise(total_obitos = n())

  faixa_etaria n
1 Idoso        173
2 adolescente    3
3 adulto        77
4 criança        8

  faixa_etaria total_obitos
1 Idoso        173
2 adolescente    3
3 adulto        77
4 criança        8

# **Atividade 2: Manipulação de datas e agrupamento**

**2.1**)	Crie	uma	variável	chamada	"trimestre"	que	identifique	em	qual	trimestre	do	ano	ocorreu	o	 óbito.	Os	trimestres	devem	ser	classificados	como:	"1º	trimestre"	para	janeiro,	fevereiro	e	março;	 "2º	trimestre"	para	abril,	maio	e	junho;	"3º	trimestre"	para	julho,	agosto	e	setembro;	e	"4º
rrimestre"	para	outubro,	novembro	e	dezembro.	Dica:	use	a	função	month()	para	extrair	o	mês	da	data	e	case_when()	para	classificar	em	trimestres.


**2.2**)	Calcule	o	total	de	óbitos	e	a	idade	média	por	trimestre	e	por	sexo.	Dica:	utilize	group_by()	com	duas	variáveis	(trimestre	e	sexo_p)	e	depois	summarise()	para	calcular	as	estatísticas.

In [21]:
df <- df %>%
  mutate(
    mes = month(DTOBITO_dt),   # coluna correta
    trimestre = case_when(
      mes %in% 1:3  ~ "1º tri",
      mes %in% 4:6  ~ "2º tri",
      mes %in% 7:9  ~ "3º tri",
      mes %in% 10:12 ~ "4º tri",
      TRUE ~ NA_character_
    )
  ) %>%

select(-mes)  # remove a coluna auxiliar se quiser

head(df)

  CODMUNRES DTOBITO  IDADE SEXO RACACOR CAUSABAS TIPOBITO sexo_p    sexo_2
1 292720    02012023 457   2    4       J980     2        Feminino  Feminino
2 292720    05012023 482   2    2       I500     2        Feminino  Feminino
3 292720    07012023 452   2    4       C220     2        Feminino  Feminino
4 292720    08012023 456   2    4       W789     2        Feminino  Feminino
5 292720    10012023 468   1    4       X954     2        Masculino Masculino
6 292720    10012023 439   1    4       I461     2        Masculino Masculino
  DTOBITO_dt ano_obito tipo_idade idade idade_anos faixa_etaria trimestre
1 2023-01-02 2023      4          57    57         adulto       1º tri
2 2023-01-05 2023      4          82    82         Idoso        1º tri
3 2023-01-07 2023      4          52    52         adulto       1º tri
4 2023-01-08 2023      4          56    56         adulto       1º tri
5 2023-01-10 2023      4          68    68         Idoso        1º tri
6 2023-01-10 2023      4          39    39         adulto       1º tri

In [22]:
df %>%
  group_by(trimestre, sexo_p) %>%   # agrupa por trimestre e sexo
  summarise(
    total_obitos = n(),             # conta o número de óbitos
    idade_media = mean(idade_anos, na.rm = TRUE)  # calcula a idade média, ignorando NAs
  ) %>%

  arrange(trimestre, sexo_p)        # opcional: ordena o resultado

`summarise()` has grouped output by 'trimestre'. You can override using the
`.groups` argument.

  trimestre sexo_p    total_obitos idade_media
1 1º tri    Feminino  21           75.09524
2 1º tri    Masculino 31           61.61290
3 2º tri    Feminino  31           69.67742
4 2º tri    Masculino 46           55.89130
5 3º tri    Feminino  26           76.96154
6 3º tri    Masculino 36           63.97222
7 4º tri    Feminino  33           72.06061
8 4º tri    Masculino 37           67.81081

# **Atividade 3: Análise Integrada**
Esta	atividade	integra	vários	conceitos	aprendidos	durante	a	aula:

**3.1**)	Identifique	qual	foi	o	mês	com	maior	número	de	óbitos	no	ano	de	2023.

**3.2**)	Calcule	a	diferença	percentual	entre	o	número	de	óbitos	masculinos	e	femininos.

**3.3**)	Determine	qual	faixa	etária	teve	o	maior	número	de	óbitos	ao	longo	do	ano.

Dica:	Para	resolver	essas	questões,	combine	as	funções	trabalhadas	na	aula	—	como	mutate(),	 group_by()	e	summarise()	—	além	de	outras	funções	úteis,	como	arrange()	e	filter().

In [23]:
# Criar coluna do mês (opcional, mas facilita)
df <- df %>%
  mutate(mes = month(DTOBITO_dt))  # extrai o número do mês (1 a 12)

# Filtrar apenas o ano de 2023 e contar óbitos por mês
df %>%
  filter(year(DTOBITO_dt) == 2023) %>%  # filtra apenas 2023
  group_by(mes) %>%                     # agrupa por mês
  summarise(total_obitos = n()) %>%     # conta óbitos
  arrange(desc(total_obitos))           # ordena do maior para o menor

   mes total_obitos
1  12  31
2   5  30
3   6  25
4   1  23
5   4  22
6   9  22
7   7  20
8   8  20
9  10  20
10 11  19
11  2  15
12  3  14

In [24]:
dif_percentual <- df %>%
  group_by(sexo_p) %>%
  summarise(total_obitos = n()) %>%
  summarise(
    dif_percentual = ((total_obitos[sexo_p == "Masculino"] - total_obitos[sexo_p == "Feminino"]) /
                       total_obitos[sexo_p == "Feminino"]) * 100
  )

dif_percentual

  dif_percentual
1 35.13514

In [26]:
df %>%
  group_by(faixa_etaria) %>%        # agrupa por faixa etária
  summarise(total_obitos = n()) %>% # conta óbitos

  arrange(desc(total_obitos))       # ordena do maior para o menor

  faixa_etaria total_obitos
1 Idoso        173
2 adulto        77
3 criança        8
4 adolescente    3